<%# Navbar mutualisée : logo HQ sur fond navy. %>
<nav class="navbar navbar-expand-sm navbar-hqueue">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="logo"><span class="logo-h">H</span><span class="logo-q">Q</span></span>
    <% end %>

    <ul class="navbar-nav ms-auto align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link p-0" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://i.pravatar.cc/56", class: "avatar avatar-bordered", alt: "Account" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
