<%= render "venue_infos", venue: @venue %>

<%= render "shared/counter",
      count: @queue_count,
      label: "#{'group'.pluralize(@queue_count)} in the queue",
      wait: @venue.avg_wait_minutes %>

<div class="venue-infos-cta">
  <%= link_to "Join the virtual queue", new_venue_queue_entry_path(@venue),
        class: "btn btn-primary w-100" %>
</div>